/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffba42;
  }
  
  .contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 10px;
  }
  
  form input,
  form textarea,
  form select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  form button {
    padding: 10px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .feedback-container {
    margin-top: 50px;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
  }
  
  .rating-container label {
    margin-right: 10px;
  }
  
  .rating-container input[type='radio'] {
    display: none;
  }
  
  .rating-container label.star {
    font-size: 30px;
    color: #ff6b6b;
    cursor: pointer;
  }
  
  .rating-container input[type='radio']:checked ~ label.star:before {
    content: '\2605';
  }
  