/* General Styles */
.book-header {
  color: #ddd;
  background-color: #0B1E33;
  display: flex;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 10px;
}

.feature-button {
  background-color: #0B1E33;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.4s ease, transform 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-button img {
  width: 250px; /* Adjust the size as needed */
  height: 250px; /* Adjust the size as needed */
  margin-bottom: 20px; /* Space between the image and the text */
  border-radius: 15px;
}

.feature-button:hover {
  background-color: #0056b3;
}

.footer {
  padding: 20px;
  background-color: #0B1E33;
  color: #ddd;
  text-align: center;
}

/* Standard Header Styles */
.header {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: fit-content;
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
  overflow: hidden; /* Hide the overflow text */
  padding: 10px 20px;
  background-color: #013c58;
  color: #fff;
  border-radius: 5px;
}

/* Time Available Styles */
.time-available {
  text-align: center;
  border-radius: 10px;
  background-color: #ffd35b;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 90%;
}

.time-available p {
  text-align: left;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  margin: 10px auto;
  max-width: 50%;
}

.time-available-content {
  text-align: left;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea,
button[type="submit"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Booking Content */
.booking {
  text-align: center;
  border-radius: 10px;
  background-color: #ffd35b;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 90%;
}

.bookingheader {
  color: #fff;
  background-color: #013c58;
  padding: 5px;
  border-radius: 5px;
  max-width: 40%;
  margin: 0 auto 15px;
}

.booking-content {
  text-align: left;
}

/* Receive Booking Content */
.receivebookingheader {
  color: #fff;
  background-color: #013c58;
  padding: 5px;
  border-radius: 5px;
  max-width: 40%;
  margin: 0 auto 15px;
}

.receivebooking {
  text-align: center;
  border-radius: 10px;
  background-color: #ffd35b;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 90%;
}

.receivebooking p {
  text-align: left;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  margin: 10px auto;
  max-width: 50%;
}

.button-container-center {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button {
  background-color: #007bff; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #0056b3;
}

/* File input field with white border */
input[type="file"] {
  border: 1px solid white;
}
